page-contact {
    .img {
        border-radius: 50%;
        height: 50px;
        width: 60px;
        float: left;
    }
    .welcome {
        background: color($colors, body)
    }
    .font {
        color: color($colors, body)
    }
}